{% extends "base.html" %} <!--this means that you are extending the base tempate -->
{% block batch %} <!-- this is the name of the block below -->
       <h1>Source, Topic or Pagerank Search</h1>
       <div class="row" style="height:60vh;">
               <div class="col-md-4 col-md-offset-4" style="margin-top:10vh;">
                       <form action"sourceop" method="POST">
<!-- action is the html template that will return the result to this input query -->
                               <div class="form-group text-center">
                                       <select class="form-control" name="task">
                                               <option>source</option>
                                               <option>topic</option>
                                               <option>pagerank</option>
                                       </select>
                                       <br /><br />
                                       <label style="font-weight:300; font-size:20px;">If you select source or topic, please type keywords; if you select pagerank, please type date in "yyyy-mm-dd" format</label>
                                       <input type="text" class="form-control" id="keywords" name="keywords">
                                       <br /><br />

                                       <button type="submit" value="Send" name="emailid-container" class="btn btn-default id-submit">Submit</button>
                               </div>
                       </form>
               </div>
       </div>

{% endblock %}