
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>ClickInsight</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/starter-template.css" rel="stylesheet"> 

    <style>
    .flex-container {
        /*  */
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        text-align: center;
    }
    .flex-container > * {
        padding: 96px;
        -webkit-flex: 1 100%;
        flex: 1 100%;
    }
    .article {
        text-align: left;
    }
    header {background: black; color:white;}
    footer {background: #aaa; color:white;}
    .nav {background:#eee;}
    .nav ul {
        list-style-type: none;
        font-size:24px;
        padding: 0;
    }
    .nav ul a {
     text-decoration: none;
    }
    @media all and (min-width: 768px) {
        .nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
        .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
        footer {-webkit-order:3;order:3;}
    }
    </style>       
  </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">ClickInsight: A Real-time Clickstream Analysis Platform</a>
            </div>
          </div>
        </nav>

        <div class="flex-container">
            <nav class="nav">
                <ul id = "name_list">
                  <li>google</li>
                  <li>wikipedia</li>
                  <li>bing</li>
                  <li>yahoo</li>
                  <li>twitter</li>
                  <li>facebook</li>
                </ul>
            </nav>


            <article class="article">
             <div id="container" style="height: 400px; min-width: 310px"></div>
            </article>
            
            <br>
            <footer style = "padding: 15px">2017 Insight Data Engineering Fellow.  
            <br>  
            <a href = "https://docs.google.com/presentation/d/1U2U0Doo2EPh9osboorMb4jAOHzCneGV_Z_hDvs8WjpM/edit?usp=sharing">Demo Slides</a>         
            <a href = "https://github.com/naauaoyang"> Github Profile</a>        
            <a href = "https://www.linkedin.com/in/zhuangfei-yang-599b9b7a"> Linkedin Profile</a>
            </footer>
        </div>

    </body>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
    </script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>


    <script>

    $(function () {
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        }); 
        // Create the chart
            function getValuefromJson(jm){
                    return [(new Date(jm.time)).getTime(),jm.count];
            }

        var url_ini = "hrini/other-google";

            $.getJSON(url_ini,function(value){              
                    var data_db = value.records.map(getValuefromJson).reverse();            

                $('#container').highcharts('StockChart', {
                    chart: {
                        events: {
                            load: function () {

                                // set up the updating of the chart each second
                                var series = this.series[0];
                                setInterval(function () {                           
                                    var url = "hr/other-google";
                                    $.getJSON(url,function(data){                                   
                                                                    var x = (new Date(data.record[0].time)).getTime(),
                                                    y = data.record[0].count;
                                        series.addPoint([x, y], true, false);       
                                     });                    
                                }, 1000);
                            }
                        }
                    },
                    rangeSelector: {
                        buttons: [{
                            count: 20,
                            type: 'minute',
                            text: '20M'
                        }, {
                            count: 1,
                            type: 'hour',
                            text: '1H'
                        }, {
                            type: 'all',
                            text: 'All'
                        }],
                        inputEnabled: false,
                        selected: 0
                    },

                    title: {
                        text: 'Live Clicks Count From Google'
                    },

                    exporting: {
                        enabled: false
                    },

                    series: [{
                        name: 'Clicks Count',
                        data: data_db
                    }]
                });
                $("#show").text("Google");


        });  



        $("li").click(function(){
            var l_value = $(this).text();
                    function getValuefromJson(jm){
                            return [(new Date(jm.time)).getTime(),jm.count];
                    }
            // reformat the input source so that it can match the exact term in the database 
            l_exact_value = "other-".concat(l_value)

                var url_pre = "hrini/";
                var url_req = url_pre.concat(l_exact_value);

                    $.getJSON(url_req,function(value){              
                            var data_db = value.records.map(getValuefromJson).reverse();            

                        $('#container').highcharts('StockChart', {
                            chart: {
                                events: {
                                    load: function () {

                                        // set up the updating of the chart each second
                                        var series = this.series[0];
                                        setInterval(function () {                           
                                            var url_hr = "hr/".concat(l_exact_value);
                                            $.getJSON(url_hr,function(data){        
                                                                            var x = (new Date(data.record[0].time)).getTime(),
                                                            y = data.record[0].count;
                                                series.addPoint([x, y], true, false);                       
                                                    });                     
                                        }, 1000);
                                    }
                                }
                            },

                            rangeSelector: {
                                buttons: [{
                                    count: 20,
                                    type: 'minute',
                                    text: '20M'
                                }, {
                                    count: 1,
                                    type: 'hour',
                                    text: '1H'
                                }, {
                                    type: 'all',
                                    text: 'All'
                                }],
                                inputEnabled: false,
                                selected: 0
                            },

                            title: {
                                text: 'Live Clicks Count From '.concat(l_value)
                            },

                            exporting: {
                                enabled: false
                            },

                            series: [{
                                name: 'Clicks Count',
                                data: data_db
                            }]
                        });

                }); 

            $("#show").text(l_value);
        });
    });
    </script>

</html>

