{% extends "base.html" %}
{% block topic %}
<h1>Topic Search Result</h1>

<div id="container" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
    
<script>
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: '{{output[0].topic}}'
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Count'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: 'Count: <b>{point.y:.1f}</b>'
        },
        series: [{
            name: 'Count',
            data: [
                ['{{output[0].source}}', {{output[0].count}}],
                ['{{output[1].source}}', {{output[1].count}}],
                ['{{output[2].source}}', {{output[2].count}}],
                ['{{output[3].source}}', {{output[3].count}}],
                ['{{output[4].source}}', {{output[4].count}}],
                ['{{output[5].source}}', {{output[5].count}}],
                ['{{output[6].source}}', {{output[6].count}}],
                ['{{output[7].source}}', {{output[7].count}}],
                ['{{output[8].source}}', {{output[8].count}}],
                ['{{output[9].source}}', {{output[9].count}}]
            ],
            dataLabels: {
                enabled: false,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                format: '{point.y:.1f}', // one decimal
                y: 10, // 10 pixels down from the top
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        }]
    });
</script>

{% endblock %}
